.main-content {
	margin-top: 10px;
    // grid-template-columns: 66.66% 33.33%;

	header {
		font-weight: bold;
	}
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 2fr 2.5fr;
}

.one {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  text-align: justify;
  border-bottom: 2px solid $light-gray;
  border-right: 2px solid $light-gray;
  padding: 10px;
  padding-top: 5px;
  padding-right: 25px;

  	button {
		border-color: inherit;
		background-color: inherit;
	}

	img {
		height: 200px;
		width: 275px;
		float: right;
		margin-left: 20px;
		margin-bottom: 20px;
		margin-top: 5px;
	}

	img:hover {
		box-shadow: 0 0 3px 3px $light-blue;
	}

	h1 {
		font-size: 30px;
		text-align: center;
		padding-bottom: 10px;
	}

	.heatmap-comments-1 {
		font-size: 18px;
		font-weight: 400;
		padding-top: 15px;
		padding-left: 10px;
	}

	.heatmap-comments-2 {
		font-size: 18px;
		font-weight: 400;
		padding-top: 15px;
		padding-left: 10px;
		padding-bottom: 20px;

		span {
			font-weight: 600;
			color: #2867B2;
		}
	}
}

.two {
  grid-column: 2 / span 1;
  grid-row: 1;
  text-align: justify;
  padding: 10px;
  padding-top: 5px;
  border-bottom: 2px solid $light-gray;
  padding-left: 25px;

  	button {
		border-color: inherit;
		background-color: inherit;
	}

	img {
		height: 200px;
		width: 340px;
		float: right;
		margin-left: 20px;
		margin-bottom: 20px;
		margin-top: 5px;
	}

	img:hover {
		box-shadow: 0 0 3px 3px $light-blue;
	}

	h1 {
		font-size: 30px;
		text-align: center;
		padding-bottom: 10px;
	}

	.treemap-comments-1 {
		font-size: 18px;
		font-weight: 400;
		padding-top: 15px;
		padding-left: 10px;
	}

	.treemap-comments-2 {
		font-size: 18px;
		font-weight: 400;
		padding-top: 15px;
		padding-left: 10px;
		padding-bottom: 20px;

		span {
			font-weight: 600;
			color: #2867B2;
		}
	}

}

.three {
  grid-column: 1 / span 2;
  grid-row: 2;
  text-align: justify;
  padding-top: 20px;
  border-bottom: 3px double $gray;
  padding-top: 15px;
  padding-right: 20px;
  padding-left: 20px;

	button {
		border-color: inherit;
		background-color: inherit;
	}

	img {
		height: 330px;
		width: 550px;
		float: left;
		margin-right: 50px;
		margin-left: 40px;
		margin-top: 5px;
	}

	img:hover {
		box-shadow: 0 0 3px 3px $light-blue;
	}

	h1 {
		font-size: 30px;
		text-align: center;
		padding-bottom: 10px;
	}

	.wordcloud-comments {
		font-size: 18px;
		font-weight: 400;
		padding-top: 15px;
		padding-right: 30px;

		span {
			font-weight: 600;
			color: #2867B2;
		}
	}
}

.main-story {
	margin-top: 10px;

	ul {
		list-style: initial;
		padding-left: 15px;

		li {
			margin: 10px 0;
			line-height: 1.5;
		}
	}
}

.byline {
	color: $gray;
	margin: 4px 1px;
	font-family: $serif;
	font-weight: 400;
	font-size: 11px;
}

/* 
	Comments Link with Blue Square
*/

.comments {
	color: #326891;
	font-family: $sans-serif;
	font-size: 10px;
	vertical-align: bottom;
}

iframe {
	margin-bottom: 10px;
}

article {
	margin: 10px 0;

	hr {
		width: 50%;
		color: $gray;
	}
}

.kicker {
	text-transform: uppercase;
	font-size: 10px;
}

.opinion {

	.opinion-sign-up {

		center{
			margin-bottom: 20px;
		}
	}
}

.opinions-list {
	list-style: initial;
	padding-left: 15px;
	font-weight: bold;
	font-size: 10px;

	li {
		margin: 5px 0;
	}
}

// @media all and (max-width: 1000px) {
//   .opinion, .main-story, .main-content{
//     width: 100%;
//     display: block;
//   }
// }