.masthead {
	display: flex;
	justify-content: space-between;
	align-items: center;
  	// border-top: 1px solid $light-gray; - this is the border used for language nav
	border-bottom: 2px solid black;
	padding-bottom: 5px;
	// padding-top: 5px;
	position: relative;


	.weather {
		width: 175px;
		font-size: 14px;
		text-align: center;

		.location {
			font-weight: 600;
		}

		.weather-icon {
			font-size: 24px;
			margin-right: 6px;
		}

		.weather-display {
			margin-top: 3px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.date {
		width: 175px;
		font-size: 14px;
		text-align: center;

		time {
			font-weight: 600;
		}

		p {
			margin-top: 8px;
		}
	}

}


.language-nav {
	position: absolute;
	// top: -15px;
	top: -30px;
	left: calc(50% - (250px/2));
	background: white;
	// border: 1px solid $light-gray;
	border-bottom: none;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;

	// a {
	// 	margin: 0 5px;
	// 	text-transform: uppercase;
	// 	font-family: $sans-serif;
	// 	font-size: 12px;
	// 	color: $dark-gray;
	// }

	ul {
		display: flex;
		font-size: 16px;
	}

	li {
		margin-left: 10px;
	}

	li a:hover {
		text-decoration: underline $dark-gray;
	}

	li:first-child {
		font-weight: bold;
	}
}

.logo {
	max-width: 400px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.masthead-links li:last-child {
		border-right: none;
	}



.masthead-links {
	display: flex;
	font-family: $sans-serif;
	font-size: 11px;
	margin-top: 10px;
	margin-bottom: 10px;

	ul {
		display: flex;
		
	}

	li {
		margin-left: 10px;
		border-right: 1px solid $light-gray;
	}

	button {
		background: none;
		padding: 0px;
		color: #000;
		font-weight: normal;
		border: none;
	}

	button:hover {
		background-color: $lightest-gray;
	}

	a,
	button, 
	time {
		margin-right: 10px;
	}

	li a:hover {
		text-decoration: underline black;
	}

	i {
		margin-right: 5px;
	}

	strong {
		color: green;
	}
}