h1 {
    text-align: center;
}

.main-logo {
    height: 75px;
    width: 475px;
}

.head-outline {
    height: 400px;
    width: 650px;
}

.backdrop {
    display: block;
}

.heat-map-modal {
    display: none;  
}

.heat-map-modal>svg {
    background-image: url("../images/body_outline.jpeg");
    background-repeat: no-repeat;
    background-size: 90%, 90%;
    background-position: center;
    border: 1px solid hotpink;
}